My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-callback",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        80
      ],
      "id": "eecb039d-898c-4eb9-af7d-d77feb255de7",
      "name": "Webhook",
      "webhookId": "REPLACE_THIS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"from_number\": \"+RECIEVER_PHONE\",\n  \"to_number\": \"+RECEPIENT_PHONE\",\n  \"assistant_id\": \"agent_YOUR_ID\",\n  \"webhook_url\": \"https://YOUR_USER.n8n.cloud/webhook/retell-callback\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        112
      ],
      "id": "3baa864f-947e-45d9-8b1c-0c40497a5d58",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HTTP_CRED_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "call_id",
              "value": "={{ $json.call_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "call_status",
              "value": "={{ $json.call_status }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "direction",
              "value": "={{ $json.direction }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2ac24bce-c961-45c4-be11-8c28c4aa7e16",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.call_status }}",
                    "rightValue": "registered",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "02c6bc61-044b-451b-9b47-28ee8574b3df",
      "name": "Check Call Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        720,
        128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const emergencyWords = ['urgent', 'emergency', 'help me', 'critical', 'accident'];\nconst transcript = $input.item.json.transcript || '';\nconst hasEmergency = emergencyWords.some(word => transcript.toLowerCase().includes(word));\n\nreturn {\n  action: hasEmergency ? 'handover_to_human' : 'continue_ai'\n};"
      },
      "id": "dde94a13-c5b6-4f82-b35e-6a5e8976becc",
      "name": "Check Emergency Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "handover_to_human",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fca76643-c229-40d7-9f68-fac90bcd9e7d",
      "name": "Check Action Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "notification",
              "value": "Emergency detected - handover to human required",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "urgency",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ea253324-e519-4691-84e5-70b55dd64af9",
      "name": "Send Notification Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "info",
              "displayName": "info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "032bf332-9021-4c50-9b5c-ae0a83ad0724",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEET_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"received\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "45f4285a-cfc0-49f7-acb8-70ab96459ca4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1648,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Check Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Emergency Keywords": {
      "main": [
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "Send Notification Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Call Status": {
      "main": [
        [
          {
            "node": "Check Emergency Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90f8c7ac-04ee-4cf8-b440-a3032819a88d",
  "meta": {
    "instanceId": "8eb58375e4ec54ccfa53834210c68b3a32d6336c5f108da28c644544e1ac4fbd"
  },
  "id": "jY3ky3UL7TmJJrrn",
  "tags": []
}